.error-page {
    text-align: center;
    margin-top: 100px;
}

.error-page h1 {
    font-size: 2.5em;
    color: #ff0000;
    margin-left: 5px;
}

.error-page p {
    font-size: 1.2em;
}

/* You can add more styles as needed */